<!DOCTYPE html>
.html
  .left
    .left-top
      .left-top__name
        tatsuki
      %ul.left-top__menu
        %li.left-top__edit-user
        
          = fa_icon 'pencil-square-o', class: 'icon' 
        
          = fa_icon 'cog', class: 'icon' 
    .left-bottom
      .left-bottom__groups
        test
        .left-bottom__groups__messages
          test
  .right
    .right-top
      .edit Edit
      .right-top__groups
        .right-top__groups__group
          test
        .right-top__groups__name
          test
    .right-middle
      .right-middle__messages
        .right-middle__messages__name
          test
        %p.right-middle__messages__message
          test
    .right-bottom
      
      .input-box 
        type a message
        %label.upload-label
          = fa_icon 'picture-o', class: 'icon-2'
          %input.hiddin{type:"file"}

      .submit send