.side
  .side-header
    %p.side-header__user-name 
      = current_user.name
    %ul.user-menu
      %li.user-name__new-group 
        =link_to new_group_path do
          %i.fa.fa-edit
      %li.user-name__edit-account
        =link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups 
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message
